h1 {
    color: red;
}

h2 {
    color: grey;
}

ul {
    color: white;
}

body {
    background-color: black;
    color: lightgrey;
    font-size: 40px;
}

a {
    color: lightblue;
    float: left;
}